---
services:
  kcrdb-db:
    container_name: kcrdb-db
    image: postgres:17
    restart: unless-stopped
    ports:
      - 5432:5432
    environment:
      POSTGRES_PASSWORD: admin
    volumes:
      - ./data/postgres:/var/lib/postgresql/data

  kcrdb-redis:
    container_name: kcrdb-redis
    image: redis
    restart: unless-stopped
    ports:
      - 6379:6379
    volumes:
      - ./data/redis:/data

  kcrdb:
    container_name: kcrdb
    image: ghcr.io/hitomarukonpaku/kcrdb
    restart: unless-stopped
    ports:
      - 8080:8080
    environment:
      DATABASE_URL: postgresql://postgres:admin@kcrdb-db:5432/postgres
      REDIS_URL: redis://kcrdb-redis:6379
      CACHE_TTL: 10m
      NO_COLOR: 1
      NO_TIMESTAMP: 1
      # METRICS_ENABLED: 1
    depends_on:
      - kcrdb-db
      - kcrdb-redis

  # kcrdb-prom:
  #   container_name: kcrdb-prom
  #   image: prom/prometheus
  #   command:
  #     - "--config.file=/etc/prometheus/prometheus.yml"
  #     - "--storage.tsdb.path=/prometheus"
  #     - "--storage.tsdb.retention.time=30d"
  #     - "--web.enable-lifecycle"
  #   restart: unless-stopped
  #   ports:
  #     - 9090:9090
  #   volumes:
  #     - ./cfg/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
  #     - ./data/prometheus:/prometheus
