<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>KCRDB</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">

  <style>
    html {
      font-family: "Noto Sans Mono", monospace;
    }

    a:visited {
      color: #0000ee;
    }

    table,
    td {
      border: 1px solid black;
    }

    td {
      padding: 4px 8px;
    }

    td.key {
      text-align: center;
    }

    .fa-brands {
      font-size: 1.2rem;
      line-height: 1.2;
    }
  </style>
</head>

<body>
  <h1>KCRDB</h1>
  <hr>

  <div>
    <h2>API</h2>
    <a href="./docs">
      <div>Docs</div>
    </a>
  </div>

  <div>
    <h2>Contact</h2>
    <table>
      <tr>
        <td class="key">
          <i class="fa-brands fa-x-twitter"></i>
        </td>
        <td class="value">
          <a href="https://x.com/HitomaruKonpaku" target="_blank">
            <div>@HitomaruKonpaku</div>
          </a>
        </td>
      </tr>

      <tr>
        <td class="key">
          <i class="fa-brands fa-discord"></i>
        </td>
        <td class="value">@hitomaru</td>
      </tr>

      <tr>
        <td class="key">
          <i class="fa-brands fa-github"></i>
        </td>
        <td class="value">
          <a href="https://github.com/HitomaruKonpaku/kcrdb" target="_blank">
            <div>kcrdb</div>
          </a>
        </td>
      </tr>
    </table>
  </div>

  <div>
    <h2>Connections</h2>
    <table>
      <tr>
        <td class="key">
          <i class="fa-brands fa-github"></i>
        </td>
        <td class="value">
          <a href="https://github.com/KC3Kai/kancolle-replay" target="_blank">
            <div>kancolle-replay</div>
          </a>
        </td>
      </tr>

      <tr>
        <td class="key">
          <i class="fa-brands fa-github"></i>
        </td>
        <td class="value">
          <a href="https://github.com/KC3Kai/KC3Kai" target="_blank">
            <div>KC3Kai</div>
          </a>
        </td>
      </tr>
    </table>
  </div>
</body>

</html>
