<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>KCRDB</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">

  <style>
    html {
      font-family: "Noto Sans Mono", monospace;
    }

    table,
    td {
      border: 1px solid black;
    }

    td {
      padding: 4px 8px;
    }

    td.key {
      text-align: right;
    }
  </style>
</head>

<body>
  <h1>KCRDB</h1>
  <hr>

  <div>
    <h2>API</h2>
    <a href="./docs">Docs</a>
  </div>

  <div>
    <h2>Contact</h2>
    <table>
      <tr>
        <td class="key">X</td>
        <td class="value"><a href="https://x.com/HitomaruKonpaku" target="_blank">@HitomaruKonpaku</a></td>
      </tr>
      <tr>
        <td class="key">Discord</td>
        <td class="value">@hitomaru</td>
      </tr>
      <tr>
        <td class="key">GitHub</td>
        <td class="value"><a href="https://github.com/HitomaruKonpaku/kcrdb" target="_blank">kcrdb</a></td>
      </tr>
      <tr>
        <td class="key">GitHub</td>
        <td class="value"><a href="https://github.com/KC3Kai/kancolle-replay" target="_blank">kancolle-replay</a></td>
      </tr>
    </table>
  </div>
</body>

</html>
